@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro-Medium.ttf') format('truetype');
}

.input-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #f6f6f6;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1em;
  color: #666;
}

.output-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  padding: 1em 2em;
  overflow: scroll;
  line-height: 1.8;
}

h1 {
  margin-top: 2.5em;
}

.output-area h1:nth-child(1) {
  margin-top: 0.5em;
}

h2 {
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 0.2em 0.5em;
}

th {
  background-color: #eee;
}

blockquote {
  color: #aaa;
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding-left: 1em;
  font-size: 0.9em;
  line-height: 1.7;
}

code {
  font-family: 'Source Code Pro';
  font-weight: 500;
  display: block;
  padding: 0.5em 0.7em;
  background-color: #eee;
  border-radius: 4px;
  line-height: 1.2em;
  font-size: 0.9em;
  overflow: auto;
  white-space: pre;
}

hr {
  border: 0;
  border-bottom: 1px dashed #666;
  margin: 3em 0;
}


/* download button */

.download {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    background-color: #48c9b0;
    color: #fff;
    padding: 5px 10px 3px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}
.download:hover {
    background-color: #1abc9c;
}
.download:not([href]) {
    color: rgba(255,255,255,0.7);
    background-color: #bdc3c7;
    cursor: default;
    pointer-events: none;
}
